@import url('https://cdn.jsdelivr.net/npm/@nextui-org/react@2.6.8/dist/nextui.min.css');

@font-face {
  font-family: 'Jura';
  src: url('fonts/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
